pocsvn/sweetycup/src/main/resources/be/nmine/sweetycup/dto/sweetycup.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://sweetycup.nmine.be/server/dto"
	targetNamespace="http://sweetycup.nmine.be/server/dto">
	<xs:element name="Person">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="email" type="xs:string" use="required" />
			<xs:attribute name="phone" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
